<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <h1 class="mb-0">Kyle
      <span class="text-primary">Rone</span>
    </h1>
    <div class="subheading mb-5">
      (937) 823-2957 · rone.kyle@gmail.com
    </div>
    <p class="mb-5">I am a full stack developer with a strong work ethic and limitless potential. If you wish to contact me you can use the information above or contact me through social media using the links provided.
      <!--or the official <a pageScroll href="#contact">contact page</a>
      below.</p> -->
    <ul class="list-inline list-social-icons mb-0">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/kyle.rone/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/kyle-rone-b25b44161/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://github.com/krone1122">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</section>
