<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
  <div class="my-auto">
    <h2 class="mb-5">Interests</h2>
    <!-- <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skiier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
    <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technolgy advancements in the front-end web development world.</p> -->
    <p>
      Besides being a developer, I spend majority of my free time playing music and playing video games. I have been playing guitar for almost 15 years, so music is a big part of my life. I love listening to it and singing along, especially when I can play and sing the song at the same time.
      I also am an avid video game player. While the variety of games I play has dwindled as Ive gotten older, I still enjoy them any chance I get. My favorite kind of games are RPG/Adventure but I really find myself enjoying most games I play. Some of my favorite games/series are The Legend of Zelda, RuneScape/Old School RuneScape, Valheim, Minecraft, and Skyrim.
      In fact, it was three of those games (Zelda, Skyrim, and RuneScape) that ultimately inspired my game, <a pageScroll href="#project-traveler">The Traveler of Mundor</a>. Because of my love of video games, I became involved on the <a href="https://gaming.stackexchange.com/users/167612/kyle-rone">Stack Exchange Arqade</a>. While I don't post answers often these days (questions even less often), I am still active on the site engaging in community activies
      such as voting to close/reopen posts, monitoring low quality posts and approving other users edits.
    </p>
  </div>
</section>
