<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
  <div class="my-auto">
    <h2 class="mb-5">Awards</h2>
    <table>
      <thead>
          <!--empty header-->
      </thead>
      <tbody>
        <tr>
          <td>University of Cincinnati, Cooperative Education & Practice - Excellence</td>
          <td style="padding-left: 15px; float: right;">April 2018</td>
        </tr>
        <tr>
          <td>CIC Code Jam, Best Use of Frictionless Technology Award</td>
          <td style="padding-left: 15px; float: right;">July 2020</td>
        </tr>
        <tr>
          <td>CIC Code Jam, Judges Pick Award </td>
          <td style="padding-left: 15px; float: right;">July 2021</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
