<app-nav-bar></app-nav-bar>

<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
      <h1 class="mb-0">Kyle
        <span class="text-primary">Rone</span>
      </h1>
      <div class="subheading mb-5">6554 Ashdale Ct. · Liberty Township, OH 45044 · (937) 823-2957 ·
        <a href="mailto:name@email.com">rone.kyle@gmail.com</a>
      </div>
      <p class="mb-5">I am a well-rounded person/developer with a strong work ethic and limitless potential. If you wish to contact me you can use the information above or the official
        <a pageScroll href="#contact">contact page</a>
        below.</p>
      <ul class="list-inline list-social-icons mb-0">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/kyle.rone/">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/kyle-rone-b25b44161/">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" (click)="showLinkNotAvailable()">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
      <h2 class="mb-5">Experience</h2>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Developer III</h3>
          <div class="subheading mb-3">The Cincinnati Insurance Companies</div>
          <p>Continued to work solely in the Cinergy space. Currently focused on upgrading our backend API from .NET Framework to .NET 7, as well as owning the XSLT data transformation piece. Actively managing/mentoring an intern.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">August 2022 - Present</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Developer II</h3>
          <div class="subheading mb-3">The Cincinnati Insurance Companies</div>
          <p>Continued to work on apps from Developer I as the sole maintainer of them. Managed multiple interns including a team of 6 interns tasked to build an Angular app for the Resource Management Organization. Worked on multiple different C# apps and Angular apps.</p>
          <p>
            Developed a console app in C# that automated the comparison of database snapshots and XML files, and outputted the results into an excel spreadsheet. This was a manual process that could take up to a week, but with my app, it became an approximately 2 minute, "set and forget" process.
            See Projects page for a better description.
          </p>
          <p>
            Half way through my Developer II tenure I was placed on the number one project in the company; an angular app designed to issue insurance policies to small businesses known as Cinergy. I have done many things in Cinergy space from backend API work, to frontend UI work, to owning a data transformation process utilizing XSLT.
          </p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">August 2018 - August 2022</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Developer I</h3>
          <div class="subheading mb-3">The Cincinnati Insurance Companies</div>
          <p>Created a WinForms app with C# that automated TFS branch creation. Helped mentor interns. Worked on various C# WinForms and ASP.NET apps. Helped build an automated insurance rules engine.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">August 2017 - March 2018</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Software Development Intern</h3>
          <div class="subheading mb-3">The David J. Joseph Company</div>
          <p>Developed SSRS reports. Maintained various applications using VB.NET and C#. Rewrote an older ASP.NET webpage to use Angular2.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">January 2017 - August 2017</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Software Development Intern</h3>
          <div class="subheading mb-3">The Cincinnati Insurance Companies</div>
          <p>Maintained version 1.0 of a WinForms app, designed to manage underlying insurance data. Developed version 2.0 of the same app using WPF with one other Senior Developer.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">August 2015 - August 2016</span>
        </div>
      </div>
      <br/><br/><br/>
      <div class="resume-item d-flex flex-column flex-md-row">
          <div class="subheading mb-3">See Projects page for examples of experience.</div>
      </div>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
    <div class="my-auto">
      <h2 class="mb-5">Education</h2>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">University of Cincinnati</h3>
          <div class="subheading mb-3">Bachelor of Science</div>
          <div>Information Technology - Software Development Track</div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">August 2012 - April 2018</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Springboro High School</h3>
          <div class="subheading mb-3">High School Diploma</div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">August 2009 - May 2012</span>
        </div>
      </div>

    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
      <h2 class="mb-5">Skills</h2>

      <div class="subheading mb-3">Programming Languages &amp; Tools</div>
      <ul class="list-inline list-icons">
        <li class="list-inline-item">
          <i class="devicon-csharp-plain" title="C#"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-visualstudio-plain" title="Visual Studio"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-angularjs-plain" title="Angular"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-html5-plain" title="HTML5"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-css3-plain" title="CSS3"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-typescript-plain" title="Typescript"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-javascript-plain" title="Javascript"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-jquery-plain" title="jQuery"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-bootstrap-plain" title="Bootstrap"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-microsoftsqlserver-plain" title="Sql Server"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-unity-original" title="Unity"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicon-windows8-original" title="Windows"></i>
        </li>
      </ul>

      <div class="subheading mb-3">Workflow</div>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-check"></i>
          Mobile-First, Responsive Design</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Cross Browser Testing &amp; Debugging</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Cross Functional Teams</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Agile Development &amp; Scrum</li>
      </ul>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
    <div class="my-auto">
      <h2 class="mb-5">Interests</h2>
      <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skiier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
      <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technolgy advancements in the front-end web development world.</p>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
    <div class="my-auto">
      <h2 class="mb-5">Awards &amp; Certifications</h2>
      <table>
        <thead>

        </thead>
        <tbody>
          <tr>
            <td>University of Cincinnati, Cooperative Education & Practice - Excellence</td>
            <td style="padding-left: 15px; float: right;">April 2018</td>
          </tr>
          <tr>
            <td>CIC Code Jam, Best Use of Frictionless Technology Award</td>
            <td style="padding-left: 15px; float: right;">July 2020</td>
          </tr>
          <tr>
            <td>CIC Code Jam, Judges Pick Award </td>
            <td style="padding-left: 15px; float: right;">July 2021</td>
          </tr>
        </tbody>
      </table>
      <!-- <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          University of Cincinnati, Cooperative Education & Practice - Excellence
          <p style="float: right;">April 2018</p>
        </li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          CIC Code Jam, Best Use of Frictionless Technology Award July 2020
        </li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          CIC Code Jam, Judges Pick Award July 2021
        </li>
      </ul> -->
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contact">
    <div class="my-auto">
      <h2 class="mb-5">Contact Me</h2>

    </div>
  </section>

</div>

<router-outlet></router-outlet>
