<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto">
    <h2 class="mb-5">Skills</h2>

    <div class="subheading mb-3">Programming Languages &amp; Tools</div>
    <ul class="list-inline list-icons">
      <li class="list-inline-item">
        <i class="devicon-csharp-plain" title="C#"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-visualstudio-plain" title="Visual Studio"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-angularjs-plain" title="Angular"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-html5-plain" title="HTML5"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-css3-plain" title="CSS3"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-typescript-plain" title="Typescript"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-javascript-plain" title="Javascript"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-jquery-plain" title="jQuery"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-bootstrap-plain" title="Bootstrap"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-microsoftsqlserver-plain" title="Sql Server"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-unity-original" title="Unity"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-windows8-original" title="Windows"></i>
      </li>
    </ul>

    <div class="subheading mb-3">Other Skills</div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i>
        Mobile-First, Responsive Design oriented approach to developing web apps.</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Strong debugging skills.</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Ability to be cross functional on teams while working in a remote setting.</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Versed in Agile Development &amp; Scrum / Waterfall methodologies.</li>
    </ul>
  </div>
</section>
